* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.phonebody {
    border: medium solid black;
    width: 300px;
    height: 550px;
    margin: auto;
    border-radius: 30px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.982);
    z-index: 2000;
}

.phonebody .button {
    background-color: black;
    height: 50px;
    width: 10px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: -8px;
    position: absolute;
}

.phonebody .homebar {
    width: 70px;
    height: 5px;
    background-color: white;
    position: absolute;
    margin-top: 528px;
    margin-left: 110px;
    border-radius: 5px 5px 0px 0px;
}

.phonebody .loadpage {
    width: 99%;
    height: 99%;
    margin-left: .5%;
    margin-top: .5%;
    background-image: url(./images/download.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: inherit;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: iekie bong bong;
    letter-spacing: 3px;
    font-size: 1.5em;
    display: none;
}

.phonebody .loadpage .s {
    animation-name: display;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}

@keyframes display {
    30% {
        transform: translateY(-50px);
        color: red;
    }

    70% {
        color: blue;
    }
}

@keyframes display2 {
    70% {
        transform: translateY(-50px);
        color: red;
    }

    30% {
        color: blue;
    }
}

@keyframes slider {
    5% {
        transform: translateX(120px);
    }

    60% {
        transform: translateX(0px);
        height: 5px;
    }

    65% {
        transform: translateX(-120px);
        width: 5px;
    }
}

.phonebody .loadpage .o {
    animation-name: display2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}

.phonebody .loadpage .dot {
    height: 10px;
    width: 10px;
    background-color: red;
    position: absolute;
    margin-top: 70px;
    border-radius: 100%;
    animation-name: slider;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 3.5;
}

.phonebody .loadpage .powered {
    color: white;
    position: absolute;
    margin-top: 400px;
    font-size: .8em;
    width: 300px;
    text-align: center;
}

.phonebody .loadpage .html {
    font-size: .5em;
    position: absolute;
    color: white;
    margin-top: 450px;
}
.phonebody .cover {
    border: medium solid black;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    background-image: radial-gradient(red, green);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
    z-index: 100;
}

.phonebody .cover .networkbar {
    border-radius: 10px;
    display: flex;
    color: white;
}

.phonebody .cover .networkbar p {
    font-size: .6em;
    padding: 10px 15px;
}

.phonebody .cover .networkbar .battery {
    margin-left: 50%;
    word-spacing: 10px;
    font-size: .3em;
    margin-top: 10px;
}

.phonebody .cover .networkbar .battery span {
    margin-left: 10px;
}

.phonebody .cover .networkbar .battery span svg {
    fill: rgb(255, 255, 255);
}

.phonebody .camera {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 19000;
    margin-left: 140px;
    margin-top: 10px;
    background-image: url(./images/lenz.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
}

.phonebody .cover .time {
    font-size: 2.5em;
    padding-left: 30px;
    padding-top: 30px;
    color: white
}
.phonebody .cover #calenda{
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    font-size: .8em;
}
.phonebody .cover .time span {
    font-size: .4em;
}

.phonebody .cover .swipeup {
    border: 2px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: auto;
    position: relative;
    top: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phonebody .cover .swipeup svg {
    fill: rgb(255, 255, 255);
}

.phonebody .cover .swipeup:hover svg {
    animation-name: moveup;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes moveup {
    to {
        transform: translateY(-1px);
    }
}

.passwordpage {
    border: medium solid white;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    display: none;
    animation-duration: .1s;
    animation-timing-function: 1;
    animation-fill-mode: forwards;
}

@keyframes enter {
    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0px);
    }
}

.passwordpage .backtohome {
    border: thin solid white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.passwordpage .backtohome svg {
    fill: white;
}

.passwordpage #inputpassword {
    width: 80%;
    margin: auto;
    height: 40px;
    background-color: transparent;
    border-bottom: thin solid white;
    border-right: none;
    margin-left: 25px;
    color: white;
    padding-left: 10px;
    position: relative;
    bottom: 30px;
    letter-spacing: 5px;
}

.passwordpage .numbercontainer {
    height: 250px;
    width: 80%;
    margin: auto;
    position: relative;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.passwordpage .numbercontainer div {
    border: none;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    font-weight: 700;
}

.passwordpage .numbercontainer div:hover {
    background-color: rgba(163, 162, 162, 0.634);
}

#del {
    display: none;
}

#wrong {
    color: white;
    margin-top: 70px;
    margin-bottom: 30px;
    height: 30px;
    text-align: center;
    font-size: .8em;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes bounce {
    from {
        transform: translate(-90px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes bounceout {
    from {
        transform: translate(0px);
    }

    to {
        transform: translateX(300px);
    }
}

/* HOME PAGE STARTS */
.home {
    border: medium solid black;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    background-image: linear-gradient(red, green);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
    z-index: 100;
}

.home #clock {
    margin: auto;
}

.home #clock h1 {
    font-size: 5em;
    text-align: center;
    margin: auto;
}

.home .regularbar {
    display: flex;
    width: inherit;
    height: 60px;
    border-radius: inherit;
    position: absolute;
    top: 475px;
    justify-content: space-evenly;
}

.home .regularbar div {
    width: 16%;
    color: white;
    font-size: .9em;
    text-align: center;
    display: block;
}

.home #clock {
    width: 100px;
    height: 70px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    font-size: .7em;
    color: white;
}
.home #calend{
    text-align: center;
    color: white;
    font-size: .8em;
}
.home .google {
    width: 80%;
    height: 30px;
    margin-top: 10px;
    margin-left: 10%;
    border-radius: 10px;
    border: none;
}
.home .gicon{
    position: absolute;
    margin-left: -210px;
    margin-top: 17px;
}
.home .glenz{
    position: absolute;
    margin-top: 17px;
    margin-left: -70px;
}
.home .gmic{
    margin-top: 17px;
    margin-left: -30px;
}
/* HOME PAGE ENDS */
/* SETTINGS PAGE STARTS */
.settingsloading {
    border: medium solid black;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    background-color: rgb(159, 159, 169);
    display: none;
    text-align: center;
    padding-top: 250px;

}

.settings {
    border: medium solid black;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    display: none;
    z-index: 100;
    overflow-y: auto;
}

.settings::-webkit-scrollbar {
    display: none;
}

.settings .backtohome {
    border: thin solid white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-top: 30px;
    position: absolute;
    z-index: 100;
}

.settings .backtohome svg {
    fill: white;
    width: 10px;
}

.settings .items {
    height: 70px;
    width: inherit;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: thin solid black;
}

.settings .items i {
    margin: 10px;
}
.settings #rb{
    width: 50px;
    height: 25px;
    margin-left: 90px;
    border-radius: 20px;
}
.settings .rolerbackground .roler{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(66, 84, 96);
    animation-name: trans;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-timing-function: ease-in;
}
@keyframes trans {
    to{
        transform: translateX(25px);
    }
}
.securitypage {
    border: medium solid black;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    display: none;
    z-index: 100;
    overflow-y: auto;
    background-color: grey;
    padding-top: 10px;
}

.securitypage::-webkit-scrollbar {
    display: none;
}

.securitypage .backtohome {
    border: thin solid white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-top: 30px;
    position: absolute;
}

.securitypage .backtohome svg {
    fill: white;
    width: 10px;
}

.securitypage .item {
    height: 50px;
    width: inherit;
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: thin solid black;
}

.securitypage .item i {
    margin: 10px;
}

.nopassword {
    height: 150px;
    width: 250px;
    margin-left: 25px;
    top: 200px;
    background-color: rgb(168, 164, 164);
    display: none;
    position: absolute;
    text-align: center;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.692);
    border-radius: 10px;
    font-size: .9em;
}

.nopassword button {
    padding: 5px;
    font-weight: 600;
    width: 60px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
}

.setpassword {
    border: medium solid black;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    display: none;
    z-index: 100;
    overflow-y: auto;
    background-color: grey;
}

.setpassword input {
    width: 200px;
    height: 40px;
    margin: auto;
    margin-top: 150px;
    border-radius: 5px;
    border: none;
    margin-left: 40px;
    padding-left: 10px;
    letter-spacing: 5px;
    font-weight: 600;
    display: block;
    animation-name: newpasswordvanish;
    animation-duration: .1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.setpassword input::placeholder {
    padding-left: 10px;
    letter-spacing: 0px;
}

.setpassword .setnumbercontainer {
    height: 250px;
    width: 80%;
    margin: auto;
    position: relative;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border: medium solid black;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 15px;
}

.setpassword .setnumbercontainer div {
    border: thin solid white;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
}

.setpassword .backtohome {
    border: thin solid white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-top: 30px;
    position: absolute;
}

.setpassword .backtohome svg {
    fill: white;
    width: 10px;
}

#error {
    color: red;
    font-size: .8em;
    margin-top: 10px;
}

.setpassword input {
    width: 200px;
    height: 40px;
    margin: auto;
    margin-top: 150px;
    border-radius: 5px;
    border: none;
    margin-left: 40px;
    padding-left: 10px;
    letter-spacing: 5px;
    font-weight: 600;
    display: block;
}

.setpassword #retypenewpassword {
    width: 200px;
    height: 40px;
    margin: auto;
    margin-top: -40px;
    border-radius: 5px;
    border: none;
    margin-left: 40px;
    padding-left: 10px;
    letter-spacing: 5px;
    font-weight: 600;
    display: none;
}

.setpassword button {
    padding: 5px;
    background-color: rgb(15, 15, 139);
    border: none;
    color: white;
    margin-left: 70%;
    margin-top: 10px;
    display: none;
    border-radius: 7px;
}

.systempage {
    border: medium solid black;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    display: none;
    z-index: 100;
    overflow-y: auto;
    background-color: grey;
}

.systempage div {
    height: 50px;
    width: 285px;
    background-color: grey;
    color: white;
    display: block;
    align-items: center;
    padding-left: 10px;
    border: thin solid black;
    padding-top: 5px;
    text-wrap: wrap;
}

.systempage div:nth-of-type(2) {
    margin-top: 20px;
    border-top: none;
}
.systempage .dates{
    min-height: 60px;
    padding-bottom: 10px;
}
.systempage div p {
    font-size: .6em;
    margin-top: 5px;
    padding-bottom: 10px;
}

.systempage .backtohome {
    border: thin solid white;
    max-height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-top: 450px;
    position: absolute;
}

.systempage .backtohome svg {
    fill: white;
    width: 10px;
    margin-left: -10px;
    margin-top: -4px;
}
.aboutphone{
    border: medium solid black;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    display: none;
    z-index: 100;
    overflow-y: auto;
    background-color: grey;
}
.aboutphone div{
    height: 50px;
    width: 285px;
    background-color: grey;
    color: white;
    display: block;
    align-items: center;
    padding-left: 10px;
    border: thin solid black;
    padding-top: 5px;
    text-wrap: wrap;
}
.aboutphone div:nth-of-type(2) {
    margin-top: 20px;
    border-top: none;
}
.aboutphone div p{
    font-size: .6em;
    margin-top: 5px;
    padding-bottom: 10px;
}
.aboutphone .backtohome {
    border: thin solid white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-top: 50px;
    position: absolute;
}

.aboutphone .backtohome svg {
    fill: white;
    width: 10px;
    margin-left: -10px;
    margin-top: -4px;
}
/* SETTINGS PAGE ENDS */
/* MUSIC PAGE STARTS */
.music {
    border: medium solid black;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
    z-index: 100;
}

.backtohome {
    border: thin solid white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-top: 30px;
    position: absolute;
}

.backtohome svg {
    fill: white;
    width: 10px;
}

.headerbar {
    width: inherit;
    height: 100px;
    background-color: black;
    border-radius: 25px 25px 0px 0px;
    padding-top: 20px;
    color: white;
}

.headerbar .mainbar {
    width: 90%;
    margin: auto;
    height: 30px;
}

.headerbar .primarybar {
    width: 90%;
    margin: auto;
    height: 30px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    overflow-x: auto;
    column-gap: 10px;
    font-size: .7em;
    text-wrap: nowrap;
}

.headerbar .primarybar::-webkit-scrollbar {
    display: none;
}

.music .songs {
    overflow-y: auto;
    height: 420px;
}

.music .songs::-webkit-scrollbar {
    display: none;
}

.music .songs div {
    width: 100%;
    margin: auto;
    border: thin solid black;
    height: 70px;
    text-wrap: wrap;
    color: white;
    font-size: .7em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.music .songs div:nth-last-of-type(1) {
    border-bottom: none;
}

.music #player {
    width: 285px;
    position: fixed;
    background-color: rgb(252, 249, 249);
    border-radius: 0px 0px 25px 25px;
    margin-top: -49px;
    display: none;
}
.themepage{
    border: medium solid black;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    display: none;
    z-index: 100;
    overflow-y: auto;
    background-color: grey;
}
.themepage .themeitem{
    height: 50px;
    width: 285px;
    background-color: grey;
    color: white;
    display: block;
    align-items: center;
    padding-left: 10px;
    border: thin solid black;
    padding-top: 10px;
    text-wrap: wrap;
}
.themepage #wallpapers{
    margin-top: 30px;
}
.themepage div p{
    font-size: .6em;
    margin-top: 5px;
    padding-bottom: 10px;
}
.themepage #wallpapers .backtohome {
    border: thin solid white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-top: 30px;
    position: absolute;
}

.themepage #wallpapers .backtohome svg {
    fill: white;
    width: 10px;
}
.wallpaperpage{
    border: medium solid black;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    display: none;
    z-index: 100;
    overflow-y: auto;
    background-color: grey;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
}
::-webkit-scrollbar{
    display: none;
}
.wallpaperpage div{
    height: 200px;
    width: 99%;
    border: medium solid black;
}
.wallpaperpage div img{
    height: 100%;
    width: 100%;
}
.wallpaperpage .backtohome{
    border: thin solid white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-top: 30px;
    position: absolute;
}
.wallpaperquestion{
    width: 285px;
    margin: auto;
    height: 150px;
    background-color: rgb(199, 192, 192);
    margin-top: -150px;
    margin-left: 6px;
    border-radius: 0px 0px 25px 25px;
    display: none;
    z-index: 10000000000;
    position: fixed;
}
.wallpaperquestion p{
    padding: 10px;
}
.wallpaperquestion div{
    border: thin solid black;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: black;
}
.fontspage{
    border: medium solid black;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    display: none;
    z-index: 100;
    overflow-y: auto;
    background-color: grey;
}
.fontspage div{
    height: 70px;
    width: 100%;
    border: thin solid black;
    display: block;
    text-align: center;
    font-size: 1.6em;
    color: white;
}
.fontspage div p{
    font-size: .5em;
    padding-bottom: 10px;
}
.fontspage div:nth-of-type(2){
    margin-top: 20px;
}
.fontspage .backtohome{
    border: thin solid white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-top: 30px;
    position: absolute;
}
.poweroffpage{
    border: medium solid black;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    display: none;
    z-index: 100;
    overflow-y: auto;
    background-color: rgb(75, 70, 70);
}
.poweroffpage .poweroff{
    border: medium solid white;
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
    margin-top: 150px;
    background-color: red;
}
.poweroffpage .restart{
    border: medium solid white;
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
    margin-top: 50px;
    background-color: green;
}
.loadendpage{
    border: medium solid black;
    width: 290px;
    height: 530px;
    margin: auto;
    border-radius: 25px;
    margin-top: 5px;
    display: none;
    z-index: 100;
    overflow-y: auto;
    background-color: rgb(36, 35, 35);
}